<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mx-2" *ngIf="!conectado">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre de usuario"
          name="username"
          [(ngModel)]="mensaje.username"
        />
      </li>
      <li class="nav-item mx-2">
        <button
          class="btn btn-success"
          type="button"
          (click)="conectar()"
          *ngIf="!conectado"
          [disabled]="!mensaje.username"
        >
          Conectar
        </button>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-warning"
          type="button"
          *ngIf="conectado"
          (click)="desconectar()"
        >
          Desconectar
        </button>
      </li>
    </ul>
  </div>
  <div
    #scrollChat
    [scrollTop]="scrollChat.scrollHeight"
    class="card-body"
    *ngIf="conectado"
    style="overflow-y: scroll; height: 360px"
  >
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item list-group-item-light"
        *ngFor="let mensaje of mensajes"
      >
        <span *ngIf="mensaje.tipo == 'NUEVO_USUARIO'"
          >{{ mensaje.fecha | date: "shortTime" }} : @
          <span [ngStyle]="{ color: mensaje.color }">{{
            mensaje.username
          }}</span></span
        >
        <span *ngIf="mensaje.tipo == 'MENSAJE'"
          >{{ mensaje.fecha | date: "shortTime" }}
          <span [ngStyle]="{ color: mensaje.color }">{{
            mensaje.username
          }}</span>
          dice :<br />{{ mensaje.texto }}</span
        >
      </li>
    </ul>
  </div>
  <div class="card-footer" *ngIf="conectado">
    <form class="form-inline">
      <div class="form-group my-3">
        <input
          type="text"
          class="form-control"
          placeholder="Escribe un mensaje..."
          name="texto"
          [(ngModel)]="mensaje.texto"
          (keyup)="escribiendoEvento()"
        />
      </div>
      <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">
        Enviar
      </button>
    </form>
    <div>{{ escribiendo }}</div>
  </div>
</div>
